<div class="main-content">
    <div class="app-header">
        <div class="app-header-logi">
            <p class="logo-title">
                <span>The Share Place</span>
                <span>Hikarizsu</span>
            </p>
        </div>
        <div class="app-header-navigation">
            <div class="tabs">
                <div class="app-header-navigation-commom">
                    <a routerLink="presentation">Presentation</a>
                    <a routerLink="/home" *ngIf="isLogged">My Space</a>
                </div>       
            </div>
        </div>
        <div class="app-header-actions">
            <div class="profile">
                <a routerLink="/login" id="redirector-link-login" *ngIf="!isLogged" >Log in</a>
                <button class="user-profile" *ngIf="isLogged">
                    <span>{{username}}</span>
                    <span>
                        <img src="" alt="">
                    </span>
                </button>
            </div>
            <div class="app-header-actions-buttons">
                <button id="register" class="redirector-link" routerLink="register" *ngIf="!isLogged">Register</button>
                <button id="disconect" class="redirector-link" *ngIf="isLogged">Disconect</button>
                <button id="support"  class="redirector-link" routerLink="Support">Support</button>
            </div>
        </div>
    </div>
    <div class="app-body">
        <div class="app-body-main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        Copyright Nathan Randriatsoa
        Hikarizsu
    </div>
</div>