<div class="main-content">
    <div class="app-header">
        <div class="app-header-logi">
            <p class="logo-title">
                <span>The Share Place</span>
                <span>Hikarizsu</span>
            </p>
        </div>
        <div class="app-header-navigation">
            <div class="tabs">
                <div class="app-header-navigation-commom">
                    <a routerLink="presentation">Presentation</a>
                    <a routerLink="aboutme">About Me</a>
                    <a routerLink="goals">My Goals</a>
                </div>
                <div class="app-header-navigation-commom" *ngIf="true">
                    <a routerLink="home">My Space</a>
                </div>
                <a router=""></a>
            </div>
        </div>
        <div class="app-header-navigation-redirector">
            <a routerLink="/login">Log in</a>
            <div class="redirector-button">
                <a id="register" routerLink="register">Register</a>
                <a id="support" routerLink="Support">Support</a>
            </div>
        </div>
    </div>
    <div class="app-body">
        <div class="app-body-main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer>
        Copyright Nathan Randriatsoa
        Hikarizsu
    </footer>
</div>