<div class="main-content">
    <div class="app-header">

    </div>
    <div class="app-body">
        <div class="app-body-left">
            <div class="faq">
                <section class="faq-what">
                    <h1>What is The Share Place ?</h1>
                    <article>
                        The share place is a place that you and your friends can share your accounts easily. It works like a Password Manager
                    </article>
                </section>
                <section class="faq-how">
                    <h1>How to use it ?</h1>
                    <article>
                        To user Tht Share Place, you need to log in with the given account by the administrator.
                    </article>
                </section>

                <section class="faq-how">
                    <h1>How do I share an account ?</h1>
                    <article>
                        To complete.
                    </article>
                </section>
                <section class="faq-sucure">
                    <h1>Is it secure ?</h1>
                    <article>
                        To complete.
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
