* {
	color: white;
    font: inherit;
}
.container{
    position: relative;
    width: 400px;
    height : 275px;
    background: #1F1F1F;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    
  }
  .container::before
  {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 450px;
      height: 275px;
      background: linear-gradient(0deg,transparent,
      #45f3ff,#45f3ff);
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
  }
  .container::after
  {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 400px;
      height: 275px;
      background: linear-gradient(0deg,transparent,
      #45f3ff,#45f3ff);
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
      animation-delay:  -3s;
  }
  @keyframes animate
  {
      0%
      {
          transform: rotate(0deg);
      }
      100%
      {
          transform: rotate(360deg);
      }
  }

  .container-box
  {
      position: absolute;
      inset: 2px;
      border-radius: 8px;
      background: #1F1F1F;
      z-index: 10;
      padding: 1rem;
      display:  flex;
      flex-direction: column;
  }

  .container-box h2
  {
      color: #45f3ff;
      font-weight: 500;
      letter-spacing: 0.1em;
      /* margin-bottom: 2em; */
  }

  .container-box h4
  {
      color: #45f3ff;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-size: 2em;
  }

  .group-title {
    color: white;
    font-size: 1em;
  }
   
  .group-redirect
  {
      border:none;
      outline:none;
      background:#010916;
      padding: 11px 25px;
      width: 100px;
      margin-top: 10px;
      border-radius: 4px;
      font-weight:  600;
      cursor: pointer;
  }
  .group-redirect
  {
      opacity: 0.8;
  }

  .englober {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .a2f-span {
    display: inline
  }

  #a2fTrue {
    color: greenyellow;
  }

  #a2fFalse {
    color: red;
  }

  .credential-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Ajouté pour séparer le texte du bouton */
    align-items: center; /* Centrer verticalement */
}

.button-placer {
    display: flex;
    justify-content: flex-end; /* S'assure que le bouton se place à droite */
}


.copier {
    padding: 0.5rem 1rem; /* Ajustez la taille du bouton si nécessaire */
    margin-left: auto; /* Pousse le bouton vers la droite */
    border-radius: 4px;
    background-color: #45f3ff;
}