<p>Shared credential</p>
<p>Below there are all the accounts shared with you</p>
<div class="englober">
    <div class="container" *ngFor="let credential of credentials">
        <div class="container-box">
            <h1>Plateforme : PlateformeID {{credential.platformId}}</h1>
            <div class="credential-field">
                <h2>email : {{credential.email}}</h2>
                <div class="button-placer">
                    <button class="copier" (click)="copyText(credential.email)">Copy</button>
                </div>
            </div>
            <div class="credential-field">
                <h2>username : {{credential.identifier}}</h2>
                <div class="button-placer">
                    <button class="copier" (click)="copyText(credential.identifier)">Copy</button>
                </div>
            </div>
            <div class="credential-field">
                <h2>password : {{credential.password}}</h2>
                <div class="button-placer">
                    <button class="copier" (click)="copyText(credential.password)">Copy</button>
                </div>
            </div>
            <div class="a2f-span">
                <span>2FA : </span>
                <span id="a2fTrue" *ngIf="credential.a2f == true">Enabled</span>
                <span id="a2fFalse" *ngIf="credential.a2f == false">Disabled</span>
            </div>
        </div>
    </div>
</div>

