<p>Shared credential</p>
<p>Below there are all the accounts shared with you</p>
<div class="englober">
    <div class="container" *ngFor="let credential of credentials">
        <div class="container-box">
            <h1>Plateforme</h1>
            <h2>{{credential.email}}</h2>
            <h2>{{credential.identifier}}</h2>
            <h2>{{credential.password}}</h2>
            <div class="a2f-span">
                <span>2FA : </span>
                <span id="a2fTrue" *ngIf="credential.a2f == true">Enabled</span>
                <span id="a2fFalse" *ngIf="credential.a2f == false">Disabled</span>
            </div>
        </div>
    </div>
</div>

